/* part1 is for the general style that 
both webpages will follow
part 2: home page Z-pattern style
part 3: subpage F-pattern style
 */


/*part1*/
body {margin: 0 auto;
	width: 90%;
	max-width: 960px;
	background-color: #b7fff7;
	color: #333333;
	font-family: verdana, sans-serif;
	}

/* styles from http://typespiration.com/types/the-beauty-of-words */

h1 {
	font-size: 48px;
	font-weight: 400;
	line-height: 60px;
	margin-bottom: 48px;
	letter-spacing: -1px;
	text-transform: none;
}

p {
	color: #40371D;
	font-size: 20px;
	line-height: 36px;
	margin-bottom: 32px;
	padding-bottom: 40px;
	}

/* part2*/

/* The hero image (w3school reference) */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 200px;
}

/* Place text in the middle of the image */
h1 {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
}


/* resize images */
img.firpic{
	max-height: 200px;
    width: auto;
    
}


img {
	border-radius: 25px;
	float: right;
	border: 5px solid white;
	padding: 10px;
	margin: 20px;}

img.secpic {
	float: left;
	max-height: 200px;
    width: auto
}


footer {font-size: medium;
	font-style: italic;
}

h2 {float: center;
	border-style: outset;
	}

a {color: #333333;}

a:link {text-decoration: none;
	color: #333333;}

a:hover {color: pink;
	background-color: white;
	padding: 5px;}

.menu li .is-current {background-color: white;
	padding: 5px;
	border: 2px solid #333333;}

.menu {text-align: center;}

.menu ul {list-style-type: none;
	display: flex;
	flex-flow: wrap;
	justify-content: center;}

.menu li {margin: 10px;
	flex-basis: 50px;
	flex-shrink: 1;
	flex-grow: 1;}