/* part1:the general style that both webpages will follow
part 2: home page Z-pattern style
part 3: subpage F-pattern style
 */


/********************************   part1    ******************************/
.container {margin: 0 auto;
	width: 85%;
	max-width: 960px;
	background-image: linear-gradient(#4AC29A, #BDFFF3);
	color: #333333;
	font-family: verdana, sans-serif;
	padding:30px 0px 80px 0px;
	}

/* styles from http://typespiration.com/types/the-beauty-of-words */

h1 {
	font-size: 55px;
	font-weight: 400;
}


h2 {
	font-size: 150%;
	}

p, aside {
	color: #40371D;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 32px;
	}
a{
	text-decoration: none;
	color: #002b80;
}

footer {font-size: medium;
	font-style: italic;
}


/********************************   part2    ******************************/
.topleft {
	float: left;
	width: 300px;
	height: auto;
	padding-left: 20px;
}

.topright, .bottomright {
	float: right;
	font-size: 22px;
}

.topright ul,.bottomright ul{
	list-style: none;
}

.topright ul li, .bottomright ul li {
	padding: 10px;
	font-weight: 900;
	display: inline-block;}

/* The hero image (w3school reference) */
.hero {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png");

    /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.middle-text {
    padding-bottom: 200px;
    top:80px;
    color: white;
}
.middle-text h1{	
	text-align: center;
	display: block;
	padding-top: 200px;
	margin: 0 auto;
}

.bottomleft{
	padding-top: 100px;
	display: grid;
	grid-template-columns: repeat(3, 0.7fr);
    grid-gap: 20px;
}

.grid1 {
	grid-column: 1;
}
.grid2 {
	grid-column: 2;
}
.grid3 {
	grid-column: 3;
}


.bottomleft h2{
	font-size: 100%;
}
.bottomleft p{
	font-size: 100%;
	line-height: 20px;
}

.bottomleft img{
	width:100px;
	height: auto;
	float: left;
	padding: 15px 15px 0 0;
}

.bottomright ul li{
	background-color: #ffff66;
	padding: 10px;
}


/********************************   part3    ******************************/

.wrapper{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 40px;
    padding: 20px;
}



.middle-h1{
	text-align: center;
	display: block;
	margin-top:  100px;
	margin-bottom: 0px;
}
.lead{
	padding:30px;
	font-weight: bold;
	border-bottom: 1px solid;
}

.lead h2{
	text-align: center;
}

.img-border {
	border-radius: 25px;
	float: right;
	border: 5px solid white;
	padding: 10px;
	margin: 20px;}

.content{

	grid-column: 2/3;

}


aside{
	font-size: 100%;

}


aside ol{
	background-color: #DAF2EB;
	line-height: 30px;
}

aside ol li ul{padding-bottom: 100px; }
